.baterias .imagenBaterias {
    background-image: url("../img/secciones/baterias.webp");
}

.baterias .subseccionBaterias {
    background-color: #061833;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    color: white;
}

/*MARCAS*/
.baterias .logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.baterias .logos img {
    margin: 0 10px;
    max-width: 100%;
    max-height: 50px;
}

.baterias .logos img:first-child {
    max-height: 30px;
}


/* BATERIAS */
.baterias .innerText {
    color: white !important;
    font-weight: bold;
    text-shadow: 2px 0 0 #061833, -2px 0 0 #061833, 0 2px 0 #061833, 0 -2px 0 #061833, 1px 1px #061833, -1px -1px 0 #061833, 1px -1px 0 #061833, -1px 1px 0 #061833;
}

.baterias .galeriaBaterias {
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.baterias .galeriaBaterias .cajaBateria {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.baterias .galeriaBaterias .cajaBateria p {
    text-align: center;
    margin-top: 20px;
    color: #061833;
    font-weight: bold;
}

.baterias .galeriaBaterias img {
    border: 2px solid #061833;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: -1;
}

.baterias .galeriaBaterias span {
    display: none;
    height: 250px;
    width: 250px;
    position: relative;
    bottom: 250px;
    margin-bottom: -250px;
}

.baterias .galeriaBaterias .cajaBateria span.hoverImg {
    display: none;
    background: rgba(240, 255, 0, 0);
}

.baterias .galeriaBaterias .cajaBateria:hover span.hoverImg {
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    display: flex;
    background: rgba(240, 255, 0, 0.5);

}

.baterias .subseccionBaterias .textoBaterias {
    text-align: center;
    color: white;
    padding: 0 25%;
}


/*SUBSECCION BATERIAS RESPONSIVE*/
@media (max-width: 1000px) {
    .baterias .logos img {
        margin: 0 40px;
    }
}

@media (max-width: 820px) {
    .baterias .logos img {
        margin: 0 25px;
    }

    .baterias .galeriaBaterias {
        margin-left: 30px;
        margin-right: 30px;
        flex-wrap: wrap;
    }

    .baterias .galeriaBaterias .cajaBateria {
        margin: 0 10px;
    }
}

@media (max-width: 768px) {
    .baterias .subseccionBaterias .textoBaterias {
        font-size: 13px;
        padding: 0 15%;
    }
}

@media (max-width: 712px) {
    .baterias .galeriaBaterias .cajaBateria {
        margin: 10px 10px;
    }


    .baterias .galeriaBaterias img {
        width: 200px;
        height: 200px;
    }

    .baterias .galeriaBaterias span {
        height: 200px;
        width: 200px;
        bottom: 200px;
        margin-bottom: -200px;
    }
}

@media (max-width: 658px) {
    .baterias .logos img {
        margin: 0 10px;
    }
}

@media (max-width: 558px) {
    .baterias .logos img {
        margin: 5px 20px;
        max-height: 35px;
        max-width: 90px;
    }
}

@media (max-width: 500px) {
    .baterias .subseccionBaterias .textoBaterias {
        font-size: 12px;
        padding: 0 10%;
    }
}

@media (max-width: 379px) {
    .baterias .logos img:first-child, .baterias .logos img:nth-child(2n) {
        margin-bottom: 20px;
    }
}