.bateria-detalle .imagenBateriaDetalle {
    background-image: url("../img/secciones/bateria-detalle.webp");
    height: 30vh;
}

.bateria-detalle .contenedorBateria {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.bateria-detalle .contenedorBateria .contenedorImagen {
    flex-grow: 2;
    position: relative;
    height: 550px;
}

.bateria-detalle .contenedorBateria .detalleBateria {
    flex-grow: 1;
}


.bateria-detalle .contenedorImagen .cuadradoImagen {
    position: relative;
    top: -120px;
    z-index: 100;
    width: fit-content;
    background-color: white;
    border: 4px solid #061833;
    margin: 0 auto;
}

.bateria-detalle .contenedorBateria  {
    height: 65vh;
}

.bateria-detalle .contenedorBateria .contenedorImagen .imagenBateria {
    height: 500px;
}

.bateria-detalle .contenedorImagen .lupita {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    right: 0;
    width: 40px;
    margin: 0 20px 20px 0;
}

.bateria-detalle .detallesBateria {
    margin-right: 150px;
    margin-top: 50px;
	text-align: center;
}

.bateria-detalle .imagenFondo {
    height: 30vh;
    min-height: unset;
}

.bateria-detalle .detallesBateria .titulo1 {
	font-size: 35px;
}

.bateria-detalle .detallesBateria .titulo2, .bateria-detalle .detallesBateria .titulo3, .bateria-detalle .detallesBateria p {
	font-size: 20px;
	text-align: center !important;
    color: #061833;
    margin: 0 auto;
}

.bateria-detalle .detallesBateria p, .bateria-detalle .detallesBateria > b {
    text-align: center;
    color: #061833;
    margin: 0 auto;
}

.bateria-detalle .consultarPrecio button {
    padding: 10px;
    width: fit-content;
    background-color: yellow;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid #061833;
    cursor: pointer;
}

/*BATERIA DETALLE RESPONSIVE*/
@media (max-width: 1300px) {
    .bateria-detalle .contenedorImagen .cuadradoImagen {
        top: -60px;
    }

    .bateria-detalle .contenedorBateria .contenedorImagen .imagenBateria {
        width: 500px;
    }

    .bateria-detalle .detallesBateria {
        margin-right: 60px;
    }
}

@media (max-width: 1000px) {
    .bateria-detalle .contenedorImagen .cuadradoImagen {
        top: -40px;
    }

    .bateria-detalle .contenedorBateria .contenedorImagen {
        height: 350px;
    }

    .bateria-detalle .contenedorBateria .contenedorImagen .imagenBateria {
        width: 300px;
    }
	
	.bateria-detalle .detallesBateria {
        margin: 15px 50px 0 0;
    }

	.bateria-detalle .detallesBateria .titulo1 {
		font-size: 25px;
	}

    .bateria-detalle .contenedorBateria .contenedorImagen .imagenBateria {
        height: auto;
    }

	.bateria-detalle .detallesBateria .titulo2, .bateria-detalle .detallesBateria .titulo3, .bateria-detalle .detallesBateria p {
		font-size: 18px;
	}
}

@media (max-width: 768px) {
    .bateria-detalle .contenedorImagen .cuadradoImagen {
        top: -20px;
    }

    .bateria-detalle .detallesBateria {
        margin: 15px 20px 0 0;
    }

    .bateria-detalle .contenedorBateria .contenedorImagen .imagenBateria {
        width: 192px;
        height: auto;
    }

    .bateria-detalle .contenedorImagen .lupita {
        width: 30px;
        margin: 0 10px 10px 0;
    }

	.bateria-detalle .detallesBateria .titulo2, .bateria-detalle .detallesBateria .titulo3, .bateria-detalle .detallesBateria p {
		font-size: 18px;
	}
}

@media (max-width: 586px) {
    .bateria-detalle .detallesBateria {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
	
	.bateria-detalle .contenedorBateria {
		margin: 0;
        height: 500px;
	}

    .bateria-detalle .contenedorBateria .contenedorImagen {
        height: fit-content;
    }

    .bateria-detalle .contenedorImagen .cuadradoImagen {
        top: -30px;
    }
    .bateria-detalle .imagenFondo {
        height: 290px;
    }
}

@media (max-width: 350px) {
    .bateria-detalle .contenedorBateria .contenedorImagen .imagenBateria {
        width: 170px;
    }

    .bateria-detalle .contenedorImagen .lupita {
        width: 20px;
        margin: 0 10px 10px 0;
    }
}