.bateria-detalle .imagenBateriaDetalle {
    background-image: url("../img/secciones/baterias.jpg");
    height: 280px;
}

.bateria-detalle .contenedorBateria {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.bateria-detalle .contenedorBateria .contenedorImagen {
    flex-grow: 2;
    position: relative;
    height: 550px;
}

.bateria-detalle .contenedorBateria .detalleBateria {
    flex-grow: 1;
}


.bateria-detalle .contenedorImagen .cuadradoImagen {
    position: relative;
    top: -120px;
    z-index: 100;
    width: fit-content;
    background-color: white;
    border: 4px solid #061833;
    margin: 0 auto;
}

.bateria-detalle .contenedorBateria .contenedorImagen .imagenBateria {
    max-width: 600px;
}

.bateria-detalle .contenedorImagen .lupita {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    right: 0;
    width: 40px;
    margin: 0 20px 20px 0;
}

.bateria-detalle .detallesBateria {
    margin-right: 150px;
    margin-top: 50px;
}

.bateria-detalle .detallesBateria p, .bateria-detalle .detallesBateria > b {
    text-align: center;
    color: #061833;
    margin: 0 auto;
    font-size: 20px;
}

.bateria-detalle .consultarPrecio {
    padding: 10px;
    width: fit-content;
    background-color: yellow;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}

/*BATERIA DETALLE RESPONSIVE*/
@media (max-width: 1300px) {
    .bateria-detalle .contenedorImagen .cuadradoImagen {
        top: -60px;
    }
    .bateria-detalle .detallesBateria p, .bateria-detalle .detallesBateria > b {
        font-size: 18px;
    }
    .bateria-detalle .contenedorBateria .contenedorImagen .imagenBateria  {
        width: 500px;
    }
    .bateria-detalle .detallesBateria {
        margin-right: 60px;
    }
}

@media (max-width: 1000px) {
    .bateria-detalle .contenedorImagen .cuadradoImagen {
        top: -40px;
    }
    .bateria-detalle .detallesBateria p, .bateria-detalle .detallesBateria > b {
        font-size: 15px;
    }
    .bateria-detalle .contenedorBateria .contenedorImagen {
        height: 350px;
    }
    .bateria-detalle .contenedorBateria .contenedorImagen .imagenBateria  {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .bateria-detalle .contenedorImagen .cuadradoImagen {
        top: -20px;
    }
    .bateria-detalle .detallesBateria {
        margin-top: 20px;
    }
    .bateria-detalle .detallesBateria p, .bateria-detalle .detallesBateria > b {
        font-size: 10px;
    }
    .bateria-detalle .contenedorBateria .contenedorImagen .imagenBateria  {
        width: 200px;
    }
    .bateria-detalle .contenedorImagen .lupita {
        width: 30px;
        margin: 0 10px 10px 0;
    }
}

@media (max-width: 550px) {
    .bateria-detalle .detallesBateria {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .bateria-detalle .contenedorBateria .contenedorImagen {
        height: fit-content;
    }
    .bateria-detalle .contenedorImagen .cuadradoImagen {
        top: -30px;
    }
    .bateria-detalle .contenedorBateria {
        margin-left: 0;
    }
}

@media (max-width: 350px) {
    .bateria-detalle .detallesBateria p, .bateria-detalle .detallesBateria > b {
        font-size: 9px;
    }
    .bateria-detalle .contenedorBateria .contenedorImagen .imagenBateria  {
        width: 150px;
    }
    .bateria-detalle .contenedorImagen .lupita {
        width: 20px;
        margin: 0 10px 10px 0;
    }
}