.baterias .imagenBaterias {
    background-image: url("../img/baterias.jpg");
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #030015;
    height: fit-content;
}

.baterias .textoBaterias {
    font-size: 80px;
    margin: 50px 0 100px 0;
    text-align: center;
    color: white;
    font-family: DINCondensedBold;
}

.baterias .angle-arrow-down {
    margin: 0 auto;
    display: block;
    width: 40px;
    margin-bottom: 20px;
}

.baterias .subseccionBaterias {
    background-color: #061833;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    color: white;
}

.baterias .logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.baterias .logos img {
    margin: 0 10px 0 10px;
    max-width: 100%;
    max-height: 50px;
}

.baterias .galeriaBaterias {
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    margin-bottom: 50px;

}

.baterias .galeriaBaterias .cajaBateria {
    border: 1px solid black;
}

.baterias .galeriaBaterias img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: -1;
}

.baterias .galeriaBaterias span {
    background: rgba(240, 255, 0, 0.5);
    display: none;
    height: 200px;
    width: 200px;
    position: relative;
    bottom: 200px;
    margin-bottom: -200px;
}

.baterias .galeriaBaterias .cajaBateria:hover span.hoverImg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.baterias .galeriaBaterias .cajaBateria:hover span.hoverImg p {
    padding-top: 30px !important;
}