.contacto .forminput {
    display: flex;
    flex-direction: column;
}

.contacto input, .contacto textarea {
     margin-bottom: 20px;
    padding: 5px;
    border: 1px solid black;
}

.contacto button {
    width: 200px;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 768px) {
    .contenedor {
        margin: 30px !important;
    }
}