.footer {
    background-color: #fffbc2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.footer .datos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
    cursor: pointer;
    min-width: 200px !important;
}

.footer .datos a, .footer .datos p {
    color: #061833;
    font-size: 15px;
}

.footer .datos .calle:hover {
    text-decoration: underline;
}

.footer .datos img {
    width: 30px;
    height: 100%;
    margin-right: 10px;
}

.footer .datos p {
    margin: 0;
}

/*RESPONSIVE*/
@media (max-width: 1100px) {
    .footer .datos {
        margin-right: 100px;
    }

    .footer .email, .footer .whatsap {
        margin-top: 20px;
    }
}

@media (max-width: 791px) {
    .footer .datos {
        margin-right: 0;
    }

    .footer .datos a, .footer .datos p {
        font-size: 9px;
    }

    .footer .datos img {
        width: 15px;
    }
}

@media (max-width: 429px) {
    .footer .datos {
        margin-bottom: 20px;
    }

    .footer .ubicacion {
        margin-top: 20px !important;
    }

    .footer .email, .footer .whatsap {
        margin-top: 0;
    }


}