/*NAVEGADOR*/
.header {
    height: 200px;
    position: absolute;
    width: 100%;
}

.header .logoElectrobat {
    max-width: 250px;
    margin-left: 50px;
    cursor: pointer;
}

.header .navegador {
    top: 30px;
    position: relative;
    background-color: rgb(192, 192, 192, 0.3);
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}

.header .navegador .links-link:first-child {
    margin-left: 20px;
}

a {
    color: white !important;
    cursor: pointer;
}

.activo {
    color: yellow !important;
}

.header .links-link {
    margin: 0 20px 0 0;
    padding: 8px 0;
    color: white;
    font-weight: bold;
}

.header .navegador .links-link:hover {
    text-decoration: underline;
}

.header .links {
    display: flex;
    justify-content: flex-end;
}


/*MEDIA*/
.header .media {
    top: 30px;
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .media .itemMedia {
    width: 30px;
    margin-top: 20px;
    margin-right: 60px;
}

/*NAV RESPONSIVE*/
@media (max-width: 768px) {
    .header .links .links-link {
        display: none !important;
    }
    .header .links .boton-responsive {
        display: block;
    }
    .header .media .itemMedia {
        margin-right: 40px;
    }
    .header .logoElectrobat {
        max-width: 200px;
        margin-left: 40px;
    }
    .header .navegadorCollapse a {
        margin: 0;
    }

}

@media (min-width: 769px) {
    .header .links .boton-responsive {
        display: none !important;
    }
    .header .links .links-link {
        display: block;
    }
}

.header .links .boton-responsive {
    font-size: 1.25rem;
    line-height: 0.8;
    width: 40px;
    height: 40px;
    margin: 5px 30px;
    background-color: #061833;
    opacity: 0.7;
    border: 1px solid black;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.header .links .boton-responsive .lineaBoton {
    width: 30px;
    height: 1px;
    border: 1px solid white;
    margin-top:5px;
    position: relative;
    top: -3px;
}

.header .navegadorCollapse {
    background-color: rgb(192, 192, 192, 0.3);
    border-top: 1px solid #061833;
    display: flex;
    position: absolute;
    width: 100%;
    top: 80px;
    transition: height 0.9s;
    overflow: hidden;
    text-align: center;
    flex-direction: column;
}

@media (max-width: 400px) {
    .header .logoElectrobat {
        max-width: 180px;
        margin-left: 5px;
    }
    .header .media .itemMedia {
        margin-right: 20px;
    }
}