/*NAVEGADOR*/
.header {
    height: 200px;
}

.header .navegador {
    top: 30px;
    position: relative;
    background-color: rgb(192, 192, 192, 0.3);
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}

.header .navegador p {
    margin: 0;
    padding: 8px 0;
    color: white;
    margin-right: 20px;
}

.header .navegador p:hover {
    text-decoration: underline;
}

.header .links {
    display: flex;
    justify-content: flex-end;
}


/*MEDIA*/
.header .media {
    top: 30px;
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
}

.header .media .itemMedia {
    width: 30px;
    margin-top: 20px;
    margin-right: 60px;
}

