.modal-body {
    padding: 0!important;
}
.imagenModal {
    max-width: 600px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    background-image: url("../img/multiply.png");
    background-repeat: no-repeat;
    background-position: 95% 3%;
    background-size: 20px 20px;
}

.modal-dialog {
    max-width: 800px !important;
}

.modal-content {
    background-color: transparent !important;
    border: none !important;
}

@media (max-width: 800px) {
    .imagenModal {
        max-width: 450px;
    }

    .modal-dialog {
        max-width: 500px !important;
    }
}

@media (max-width: 600px) {
    .imagenModal {
        max-width: 350px;
        margin: 0 auto !important;
        margin-top: 120px !important;
    }
}

@media (max-width: 600px) {
    .imagenModal {
        max-width: 350px;
        margin: 0 auto !important;
        margin-top: 120px !important;
        padding: 20px;
    }
}