.modal-body {
    padding: 0!important;
}

.imagenModal {
    max-width: 600px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 35px;
    border: 1px solid black;
    background-color: #061833;
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    background-position: 98% 2%;
    background-size: 20px 20px;
}

.bateriaModal {
    background-color: white !important;
    background-image: url("../img/multiply.png");
}

.modal-content {
    background-color: transparent !important;
    border: none !important;
}

@media (max-width: 800px) {
    .imagenModal {
        max-width: 450px;
        margin-top: 20px;
    }

    .modal-dialog {
        max-width: 500px !important;
    }
}

@media (max-width: 600px) {
    .imagenModal {
        width: 80%;
        padding: 7%;
        background-position: 98% 2%;
        background-size: 15px 15px;
    }
}

@media (max-width: 500px) {
    .imagenModal {
        margin-top: 100px;
    }
}