.imagenFondo {
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #030015;
    height: 100vh;
    min-height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textoFondo {
    margin-top: 150px !important;
    text-align: center;
    color: white;
    font-family: DINCondensedBold;
    margin: 0 auto;
    display: block;
}

.chiquito {
    font-size: 50px;
    display:block;
    height: 30px;
    text-align: left;
}

.grandote {
    font-size: 120px;
}

.centrar {
    display: flex;
    justify-content: center;
}

.angle-arrow-down {
    width: 40px;
    margin: 0 auto;
    display: block;
    position: relative;
    bottom: 0;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .textoFondo {
        margin-top: 190px !important;
    }
    .contacto .textoFondo, .nosotros .textoFondo {
        margin-top: 130px !important;
    }
    .chiquito {
        font-size: 35px;
        height: 30px;
    }

    .grandote {
        font-size: 80px;
    }
}

@media (max-width: 320px) {
    .chiquito {
        font-size: 25px;
        height: 30px;
    }

    .grandote {
        font-size: 60px;
    }
}
