.imagenFondo {
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #030015;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.textoFondo {
    font-size: 120px;
    margin: 100px 0 100px 0;
    text-align: center;
    color: white;
    font-family: DINCondensedBold;
    ;
}
.centrar {
    display: flex;
    justify-content: center;
}

.angle-arrow-down {
    width: 40px;
    margin-bottom: 100px;
    bottom: 0;
}

@media (max-width: 768px) {
    .textoFondo {
        font-size: 90px;
        margin: 225px 0 20px 0;
    }
}

@media (max-width: 320px) {
    .textoFondo {
        font-size: 60px;;
    }
}
