.nosotros .imagenNosotros {
    background-image: url("../img/nosotros.jpg") ;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #030015;
    height: fit-content;
}

.nosotros .textoNosotros {
    font-size: 80px;
    margin: 50px 0 100px 0;
    text-align: center;
    color: white;
    font-family: DINCondensedBold;
}

.nosotros .angle-arrow-down {
    margin: 0 auto;
    display: block;
    width: 40px;
    margin-bottom: 20px;
}
.nosotros .subseccionNosotros {
    background-color: #061833;
    display: flex;
    flex-direction: column;
}

.nosotros .subseccionNosotros .itemIco {
    cursor: pointer;
}

.nosotros .subseccionNosotros .iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.nosotros .subseccionNosotros .iconos img {
    width: 45px;
    height: 35px;
}

.nosotros .subseccionNosotros .iconos .itemIco {
    border: none;
    border-radius: 100%;
    padding: 20px;
    margin: 0 10px 0 10px;
    background-color: #082259;
}

.nosotros .subseccionNosotros p {
    text-align: center;
    color: white;
    padding-bottom: 40px;
}

.nosotros .carousel {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.nosotros .carousel .flecha {
    position: absolute;
    top: 140px;
    z-index: 100;
    width: 50px;
}

.nosotros .carousel .flechaIzq {
    left: 0;
}

.nosotros .carousel .flechaDer {
    right:0;
}

.nosotros .carousel .flechaIzq:hover, .nosotros .carousel .flechaDer:hover{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}
