.nosotros .imagenNosotros {
    background-image: url("../img/secciones/nosotros.jpg") ;
}

/*SUBSECCION NOSOTROS*/

.nosotros .subseccionNosotros {
    background-color: #061833;
    display: flex;
    flex-direction: column;
}

.nosotros .subseccionNosotros .itemIco {
    cursor: pointer;
}

.nosotros .subseccionNosotros .iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.nosotros .subseccionNosotros .iconos img {
    width: 45px;
    height: 35px;
}

.nosotros .subseccionNosotros .iconos .itemIco {
    border: none;
    border-radius: 100%;
    padding: 20px;
    margin: 0 10px 0 10px;
    background-color: #082259;
}

.nosotros .subseccionNosotros .textoNosotros {
    text-align: center;
    color: white;
    padding: 0 25% 20px 25%;
}

/*SUBSECCION NOSOTROS RESPONSIVE*/

@media (max-width: 768px) {
    .nosotros .subseccionNosotros .iconos {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .nosotros .subseccionNosotros .iconos img {
        width: 35px;
        height: 25px;
    }

    .nosotros .subseccionNosotros .iconos .itemIco {
        padding: 15px;
    }

    .nosotros .subseccionNosotros .textoNosotros {
        font-size: 13px;
        padding: 0 15% 20px 15%;
    }
}

@media (max-width: 500px) {
    .nosotros .subseccionNosotros .textoNosotros {
        font-size: 12px;
        padding: 0 10% 20px 10%;
    }
}

/*CAROUSEL*/

.nosotros .carousel {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.nosotros .carousel .flecha {
    position: absolute;
    bottom: 140px;
    z-index: 100;
    width: 100px;
}

.nosotros .carousel .flechaIzq {
    left: 0;
}

.nosotros .carousel .flechaDer {
    right:0;
}

.nosotros .carousel .flechaIzq:hover, .nosotros .carousel .flechaDer:hover {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

/*CAROUSEL RESPONSIVE*/

@media (max-width: 2560px) {
    .nosotros .carousel .flecha {
        bottom: 250px;
    }
}

@media (max-width: 2200px) {
    .nosotros .carousel .flecha {
        bottom: 210px;
    }
}

@media (max-width: 2000px) {
    .nosotros .carousel .flecha {
        bottom: 180px;
    }
}

@media (max-width: 1800px) {
    .nosotros .carousel .flecha {
        bottom: 180px;
        width: 80px;
    }
}

@media (max-width: 1500px) {
    .nosotros .carousel .flecha {
        bottom: 130px;
    }
}

@media (max-width: 1300px) {
    .nosotros .carousel .flecha {
        bottom: 110px;
        width: 60px;
    }
}

@media (max-width: 1000px) {
    .nosotros .carousel .flecha {
        bottom: 80px;
    }
}

@media (max-width: 768px) {
    .nosotros .carousel .flecha {
        bottom: 70px;
        width: 40px;
    }
}

@media (max-width: 700px) {
    .nosotros .carousel .flecha {
        bottom: 50px;
    }
}

@media (max-width: 500px) {
    .nosotros .carousel .flecha {
        bottom: 30px;
        width: 30px;
    }
}

@media (max-width: 400px) {
    .nosotros .carousel .flecha {
        bottom: 30px;
        width: 20px;
    }
}

@media (max-width: 300px) {
    .nosotros .carousel .flecha {
        bottom: 25px;
    }
}

@media (max-width: 280px) {
    .nosotros .carousel .flecha {
        bottom: 20px;
    }
}

@media (max-width: 250px) {
    .nosotros .carousel .flecha {
        bottom: 15px;
    }
}