.nosotros .imagenNosotros {
    background-image: url("../img/secciones/nosotros.jpg");
}

/*SUBSECCION NOSOTROS*/

.nosotros .subseccionNosotros {
    background-color: #061833;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nosotros .subseccionNosotros .iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.nosotros .subseccionNosotros .iconos .itemIco {
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
}

.nosotros .subseccionNosotros .iconos img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 100%;
    background-color: #082259;
}

.nosotros .subseccionNosotros .iconos .itemIco p {
    color: yellow;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}

.nosotros .subseccionNosotros .textoNosotros {
    text-align: center;
    color: white;
    padding: 0 25% 20px 25%;
}

/*SUBSECCION NOSOTROS RESPONSIVE*/

@media (max-width: 768px) {
    .nosotros .subseccionNosotros .iconos {
        padding-bottom: 0;
    }

    .nosotros .subseccionNosotros .iconos .itemIco p {
        font-size: 12px;
    }

    .nosotros .subseccionNosotros .iconos .itemIco {
        padding: 15px;
    }

    .nosotros .subseccionNosotros .textoNosotros {
        font-size: 13px;
        padding: 0 15% 20px 15%;
    }
}

@media (max-width: 500px) {
    .nosotros .subseccionNosotros .textoNosotros {
        font-size: 12px;
        padding: 0 10% 20px 10%;
    }
}

/*CAROUSEL*/

.nosotros .carousel {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.nosotros .carousel .flecha {
    position: absolute;
    bottom: 140px;
    z-index: 100;
    width: 100px;
}

.nosotros .carousel .flechaIzq {
    left: 0;
}

.nosotros .carousel .flechaDer {
    right: 0;
}

.nosotros .carousel .flechaIzq:hover, .nosotros .carousel .flechaDer:hover {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

/*CAROUSEL RESPONSIVE*/

@media (max-width: 2560px) {
    .nosotros .carousel .flecha {
        bottom: 260px;
    }
}

@media (max-width: 2200px) {
    .nosotros .carousel .flecha {
        bottom: 210px;
    }
}

@media (max-width: 2000px) {
    .nosotros .carousel .flecha {
        bottom: 180px;
    }
}

@media (max-width: 1800px) {
    .nosotros .carousel .flecha {
        bottom: 180px;
        width: 80px;
    }
}

@media (max-width: 1500px) {
    .nosotros .carousel .flecha {
        bottom: 130px;
    }
}

@media (max-width: 1300px) {
    .nosotros .carousel .flecha {
        bottom: 130px;
        width: 60px;
    }
}

@media (max-width: 1000px) {
    .nosotros .carousel .flecha {
        bottom: 90px;
    }
}

@media (max-width: 990px) {
    .nosotros .carousel .flecha {
        bottom: 120px;
        width: 50px;
    }
}

@media (max-width: 767px) {
    .nosotros .carousel .flecha {
        bottom: 160px;
    }
}

@media (max-width: 591px) {
    .nosotros .carousel .flecha {
        bottom: 110px;
    }
}

@media (max-width: 454px) {
    .nosotros .carousel .flecha {
        bottom: 80px;
    }
}

@media (max-width: 368px) {
    .nosotros .carousel .flecha {
        bottom: 55px;
    }
}