.volquetes .imagenVolquetes {
    background-image: url("../img/secciones/volquetes.jpg");
}

.volquetes .angle-arrow-down {
    margin: 0 auto;
    display: block;
    width: 40px;
    margin-bottom: 20px;
}

.volquetes .dosImagenes {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.volquetes .dosImagenes .item {
    width: 49%;
}
.volquetes .dosImagenes .item:first-child {
    margin-right: 2%;
}

.volquetes .alquilerVolquetes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.volquetes .alquilerVolquetes p {
    margin: 0;
    color: #061833;
}

.volquetes .alquilerVolquetes .alquiler {
    font-size: 60px;
    font-family: DINCondensedBold;
}

.volquetes .alquilerVolquetes .lineaGruesa {
    position: relative;
    top:-10px;
    width: 35px;
    height: 1px;
    border: 3px solid #061833;
}

.volquetes .alquilerVolquetes .rosario {
    font-family: SourceSansProRegular;
    font-size: 30px;
}

.volquetes .alquilerVolquetes .mediano {
    font-family: SourceSansProRegular;
    font-size: 20px;
    margin-top: 10px;
}

.volquetes .alquilerVolquetes .contactar {
    padding: 10px 75px;
    width: fit-content;
    background-color: yellow;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .volquetes .dosImagenes {
        flex-wrap: wrap;
    }
    .volquetes .dosImagenes img {
        min-width: 90%;
        margin: 0 auto;
    }
    .volquetes .dosImagenes .item:first-child {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .volquetes .alquilerVolquetes .alquiler {
        font-size: 40px;
    }

    .volquetes .alquilerVolquetes .lineaGruesa {
        position: relative;
        top:-5px;
    }

    .volquetes .alquilerVolquetes .rosario {
        font-size: 25px;
    }

    .volquetes .alquilerVolquetes .mediano {
        font-size: 15px;
    }

    .volquetes .alquilerVolquetes .contactar {
        padding: 7px 40px;
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .volquetes .dosImagenes img {
        min-width: 95%;
    }
    .volquetes .alquilerVolquetes {
        padding: 30px;
    }
    .volquetes .alquilerVolquetes .alquiler {
        font-size: 28px;
    }

    .volquetes .alquilerVolquetes .lineaGruesa {
        position: relative;
        top: 0px;
    }

    .volquetes .alquilerVolquetes .rosario {
        font-size: 18px;
        margin-top: 5px;
    }

    .volquetes .alquilerVolquetes .mediano {
        font-size: 14px;
    }

    .volquetes .alquilerVolquetes br {
        display: none;
    }

    .volquetes .alquilerVolquetes .contactar {
        padding: 7px 20px;
        margin-top: 20px;
        font-size: 14px;
    }
}